<% if current_user != @user %>
  <div id="favorite_form_<%= book.id %>" class="fff">
  <% if current_user.favorite?(book) %>
    <%= render 'users/unfavorite', book: book %>
  <% else %>
    <%= render 'users/favorite', book: book %>
  <% end %>
  </div>
<% end  %>