<div class="wrapper">
  <div id="top">
    <h1 id="top-title">人生を<span id="strong">変</span>える一冊</h1>
    <div class="top-copy">
      <p>本には、人生を変える”力”がある</p>
      <p>そんな本に出会いにいきませんか？</p>
    </div>
    <div class="top-btn">
      <%= link_to "ログイン", new_user_session_path, class: "btn" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
    </div>
  </div>
</div>