<div class="row">
  <div class="col-md-3" id="leftside">
    <p>検索できるようにしよう</p>
    <p>新着順</p>
    <p>ランダム</p>
    <p>コメントあるやつだけ</p>
  </div>
  <div class="col-md-9" id="rightside">
    <div class="content">
      <% @books.each do |book| %>
        <div class="eachbox">
          <div class="bookuser">
            <% book.users.each do |user| %>
              <div>
                <%= link_to user.username, user %>
              </div>
            <% end %>
          </div>
          
          <div class="index-box">
            <div class="index-image">
              <div class="index-wrap">
                <% image_url =  book.rakuten_data['largeImageUrl'].gsub('?_ex=200x200', '') %>
                <%= image_tag(image_url, alt: book.rakuten_data['title']) %>
              </div>
            </div>
            <div class="booktitle">
              <%= book.title %>
            </div>
            <div class="want">
              <p>a</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>