// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#leftside{
  
}

#rightside{
  
  .content{
    width: 100%;
    .eachbox{
      border: 1px solid #ddd;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      width: 260px;
      height: 335px;
      margin: 6px;
      float: left;
      .bookuser{
        width: 100%;
        height: 30px;
        text-align: center;
        font-size: 18px;
        padding-top: 1px;
        background: #f9f9f4;
        a{
          color: black;
          &:hover{
            color: #f5882f;
            text-decoration: none;
          }
        }
      }
      .index-box{
        width: 258px;
        position: relative;
        margin: 0 auto;
        .index-image{
          width: 258px;
          height: 260px;
          display: table;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          background: #fff;
          .index-wrap{
            width: 258px;
            height: 260px;
            padding: 10px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img{
              max-height: 250px;
            }
          }
        }
        .booktitle{
          display: table-cell;
          width: 229px;
          height: 30px;
          padding-top: 8px;
          padding-left: 4px;
          font-size: 13px;
          float: left;
          overflow: hidden;
        }
        .want{
          border: 1px solid red;
          width: 28px;
          height: 28px;
          float: left;
        }
      }
    }
  }
}