// Place all the styles related to the recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right{
  padding-top: 56px;
  text-align: center;
  
  .message{
    text-align: center;
  }

  .search{
    font-size: 20px;
  }
  
  .comment{
    margin-top: 20px;
  }
}